@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

.input{
    font-family: 'Unbounded', sans-serif;
    width: 300px;
    height: 50px;
    border-radius: 1.2em;
    font-weight: 200;
    border-color: #FFC436;
    border-style: solid;
    padding: 0.7em;
    background-color: transparent;
    color: #FFC436;
    -webkit-box-shadow: 0px 7px 10px -3px rgba(22, 22, 22, 0.75);
    -moz-box-shadow: 0px 7px 10px -3px rgba(22, 22, 22, 0.75);
    box-shadow: 0px 7px 10px -3px rgba(22, 22, 22, 0.75);
    transition: 0.5s;
}

.input:focus{
    outline: none;
}

.input:hover{
    -webkit-box-shadow: 0px 7px 20px -3px rgba(22, 22, 22, 0.75);
    -moz-box-shadow: 0px 7px 20px -3px rgba(22, 22, 22, 0.75);
    box-shadow: 0px 7px 20px -3px rgba(22, 22, 22, 0.75);
}