@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

.landing_container{
    width: 40%;
    opacity: 1;
    display: flex;
    padding: 1em;
    flex-wrap: wrap;
    color:#FFC436;
    gap: 2em;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-family: 'Unbounded', sans-serif;
}

.landing_container h2{
    font-weight: 200;
    font-size: 3em;
}

.landing_container h1{
    font-weight: 800;
    font-size: 4em;
}

