.container{
    display: relative;
    width: 40%;
    opacity: 1;
}
.container div{
    width: 75%;
    height: 45vh;
    border-radius: 50em;
    background-color: white;
}

.container img.cell01{
    width: 16%;
    position: absolute;
    height: auto;
    margin-top: -28%;
    margin-left: 9%;
    animation-duration: 2.5s;
    animation-fill-mode: both;
    opacity: 0;
    animation-name: fadeInUp;
}

.container img.cell02{
    width: 13%;
    position: absolute;
    height: auto;
    margin-top: -24%;
    margin-left: 5%;
    
    animation-duration: 2.5s;
    animation-fill-mode: both;
    opacity: 0;
    animation-name: fadeInUp;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }
  
    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
  }
  
  @-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }
  
    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
  }